<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,800;1,400;1,800&family=Square+Peg&display=swap" rel="stylesheet">
      </head>
      <style>
        .hidden {
            display: none;
        }
    </style>
<body>
<div class ="container" style = "width:1440px; height:auto;">
  <div class = "container" style = "position: absolute; background-color:#8F9FDB; width:1440px; height:1044px;">
    <div class = "container" style ="position: absolute; height:73px; top:40px; background-color:#FFFFFF; width:1440px;left:0; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 0px;">
      <button class ="btn" style="padding-top:23px;">오늘의 추천 영상
      </button>
      <button class ="btn" style="padding-top:23px; padding-left:30px;">회사 소개
      </button>
    </div>
    <h2 style="margin-top:437px; margin-left:181px;align-items: center"><font style="font-size: 80px;line-height: 16px; font-family: 'EB Garamond', serif; background: linear-gradient(268.38deg, #FFFFFF 18.13%, rgba(0, 70, 255, 0.77) 100.55%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;">BLUELIGHT</font>
    </h1>
    <a href="{% url 'common:login' %}"><button type="button" class="btn  me-2" style="background-color:#FFFFFF; width: 172.6px; height: 47px; margin-left:181px; border-radius: 10px;margin-top:19px;">로그인</button></a>
    <a href="{% url 'common:signup' %}"><button type="button" class="btn" style="background-color:#FFFFFF; width: 172.6px; height: 47px; border-radius: 10px;margin-top:19px;">회원가입</button></a>
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRvibKik6yvFC0os5zkfSszqBFmxwQCvzlPxRC0PnKJIouGshxr" style="width: 570px; height: 563px;position:absolute; left:700px;top: 259px;">
  </img>
  <div class="container" style="position: absolute;width: 1440px;height: 100px;left: -4px;top: 1044px; background: #FFFFFF;">



    <script>
      var currentIndex1 = 0;
      var currentIndex2 = 0;
      var currentIndex3 = 0;
      var videosPerPage = 5;
      var totalVideos1 = {{ videos_info|length }};
      var totalVideos2 = {{ videos_info1|length }};
      var totalVideos3 = {{ videos_info2|length }};

      function showVideos1() {
        var videos = document.getElementsByClassName("video-item1");
        var start = currentIndex1;
        var end = currentIndex1 + videosPerPage;

        for (var i = 0; i < videos.length; i++) {
          if (i >= start && i < end) {
            videos[i].classList.remove("hidden");
          } else {
            videos[i].classList.add("hidden");
          }
        }
      }

      function showNextVideos1() {
        currentIndex1 += videosPerPage;
        showVideos1();
        updateButtons1();
      }

      function showPreviousVideos1() {
        currentIndex1 -= videosPerPage;
        showVideos1();
        updateButtons1();
      }

      function showVideos2() {
        var videos = document.getElementsByClassName("video-item2");
        var start = currentIndex2;
        var end = currentIndex2 + videosPerPage;

        for (var i = 0; i < videos.length; i++) {
          if (i >= start && i < end) {
            videos[i].classList.remove("hidden");
          } else {
            videos[i].classList.add("hidden");
          }
        }
      }

      function showNextVideos2() {
        currentIndex2 += videosPerPage;
        showVideos2();
        updateButtons2();
      }

      function showPreviousVideos2() {
        currentIndex2 -= videosPerPage;
        showVideos2();
        updateButtons2();
      }
      function showVideos3() {
        var videos = document.getElementsByClassName("video-item3");
        var start = currentIndex3;
        var end = currentIndex3 + videosPerPage;

        for (var i = 0; i < videos.length; i++) {
          if (i >= start && i < end) {
            videos[i].classList.remove("hidden");
          } else {
            videos[i].classList.add("hidden");
          }
        }
      }

      function showNextVideos3() {
        currentIndex3 += videosPerPage;
        showVideos3();
        updateButtons3();
      }

      function showPreviousVideos3() {
        currentIndex3 -= videosPerPage;
        showVideos3();
        updateButtons3();
      }
      function updateButtons1() {
        var nextButton = document.getElementById("next-button1");
        var prevButton = document.getElementById("prev-button1");

        if (currentIndex1 + videosPerPage >= totalVideos1) {
          nextButton.disabled = true;
        } else {
          nextButton.disabled = false;
        }

        if (currentIndex1 === 0) {
          prevButton.disabled = true;
        } else {
          prevButton.disabled = false;
        }
      }

      function updateButtons2() {
        var nextButton = document.getElementById("next-button2");
        var prevButton = document.getElementById("prev-button2");

        if (currentIndex2 + videosPerPage >= totalVideos2) {
          nextButton.disabled = true;
        } else {
          nextButton.disabled = false;
        }

        if (currentIndex2 === 0) {
          prevButton.disabled = true;
        } else {
          prevButton.disabled = false;
        }
      }

      function updateButtons3() {
        var nextButton = document.getElementById("next-button3");
        var prevButton = document.getElementById("prev-button3");

        if (currentIndex3 + videosPerPage >= totalVideos3) {
          nextButton.disabled = true;
        } else {
          nextButton.disabled = false;
        }

        if (currentIndex3 === 0) {
          prevButton.disabled = true;
        } else {
          prevButton.disabled = false;
        }
      }
      // 초기 영상 표시
      document.addEventListener("DOMContentLoaded", function() {
        showVideos1();
        showVideos2();
        showVideos3();
        updateButtons1();
        updateButtons2();
        updateButtons3();
      });
  </script>
  <div id="video1-container" style="margin-top:5%;">
  <font style=''>오늘의 추천 단기간 다이어트 Top5</font>

  <button id="prev-button1" onclick="showPreviousVideos1()" type="button" class="btn-light" style="position:absolute; margin-top:8%; margin-left:1%; left: 0; background-color: transparent; border: none;">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
    </svg>
</button>

{% for video_info in videos_info %}
    <div class="video-item1" >
        <a href="{{ video_info.video_url }}">
            <img src="{{ video_info.thumbnail_url }}" alt="Thumbnail" style="width:175px; height:200px; float:left; margin-left:5.3%;">
        </a>
    </div>
{% endfor %}

<button id="next-button1" onclick="showNextVideos1()" type="button" class="btn-light" style="margin-top:6%; margin-left:1%; background-color: transparent; border: none;">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
    </svg>
</button>
      </div>

      <div id="video2-container" style="margin-top:8%;">
        <font style=''>오늘의 추천 식단 Top5</font>
        <button id="prev-button2" onclick="showPreviousVideos2()" type="button" class="btn-light" style="position:absolute; margin-top:8%; margin-left:1%; left: 0; background-color: transparent; border: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
        </svg>
        </button>
        {% for video_info1 in videos_info1 %}

        <div class="video-item2">
            <a href="{{ video_info1.video_url }}">
                <img src="{{ video_info1.thumbnail_url }}" alt="Thumbnail" style="width:175px; height:200px; float:left; margin-left:5.3%; ">
            </a>
        </div>

        {% endfor %}
        <button id="next-button2" onclick="showNextVideos2()" type="button" class="btn-light" style="margin-top:6%; margin-left:1%; background-color: transparent; border: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
        </svg>
        </button>
    </div>
    <div id="video3-container" style="margin-top:8%;">
      <font style=''>오늘의 추천 운동 Top5</font>
      <button id="prev-button3" onclick="showPreviousVideos3()" style="position:absolute; margin-top:8%; margin-left:1%; left: 0; background-color: transparent; border: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
      </svg>
      </button>
        {% for video_info2 in videos_info2 %}

        <div class="video-item3">
            <a href="{{ video_info2.video_url }}">
                <img src="{{ video_info2.thumbnail_url }}" alt="Thumbnail" style="width:175px; height:200px; float:left; margin-left:5.3%; ">
            </a>
        </div>

        {% endfor %}
        <button id="next-button3" onclick="showNextVideos3()" style="margin-top:6%; margin-left:1%; background-color: transparent; border: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
        </svg>
        </button>

</div>

  <div class="container" style="position: absolute;width: 1440px;height: 1017px;left: -4px;top: 875px; background: #EFEFEF;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKFCI8z0rBhpAa0OnVYRekp0kraqcPPK6kV7EydMyoPm0uDiU0" style="position: absolute;width: 613px;top:200px;left: 205px;">
  </img>
  <div class="container" style="position: absolute;width: 256px;height: 71px;left: 710px; top:253px; background: rgba(143, 159, 219, 0.84); "><font style="font-weight: 600;font-size: 32px;color: #FFFFFF; align-items: center;display: flex;margin-top:13px; margin-left:25px;"># 나만의 프랜</font>
  </div>
  <div class="container" style="position: absolute;width: 256px;height: 71px;left: 822px; top:371px; background: rgba(143, 159, 219, 0.84); "><font style="font-weight: 600;font-size: 32px;color: #FFFFFF; align-items: center;display: flex;margin-top:13px; margin-left:20px;"># 단기 다이어트</font>
  </div>
  <div class="container" style="position: absolute;width: 256px;height: 71px;left: 971px; top:487px; background: rgba(143, 159, 219, 0.84); "><font style="font-weight: 600;font-size: 32px;color: #FFFFFF; align-items: center;display: flex;margin-top:13px; margin-left:43px;"># 맞춤 설계</font>
        </div>
        </div>
        </div>
        </div>
        </body>
</html>